* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
 	font: 20px;
}

form { 
 	background: #fff;
 	position: fixed;
 	bottom: 0px;
 	width: 100%;
}

form input {
 	background-color: #420C5D;
    color: #fff;
 	border: 1;
 	padding: 10px;
 	width: 100%;
}

#messages {
 	margin: 0;
 	padding: 0;
    padding-bottom: 50px;
}

#messages li {
 	padding: 5px 10px;
}

#messages li:nth-child(odd) {
 	background: #eee;
}

#own-message {
	color: #420C5D;
}

#user-joined {
    color: rgb(0, 150, 0);
}

#user-left {
    color: rgb(150, 0, 0);
}

#infoboard {
    margin: 0;
    padding: 0;
}

#info {
	padding: 5px 10px;
    background: #420C5D;
    color: #ddd;
}
